.navbar{
    position: relative;
    background-color: rgba(12, 40, 104, 1) !important;
    
    width: 106% !important;
    height: 80px;
    margin-left: 63px !important;
    margin-top: -48px !important;
  }