<div class="sub">
    <img src="../../../assets/logito.jpg" alt="" class="is mt-1">

    <hr width="0" size="200">



    <div class="b_login">

        <h3 class="text-center tl">Bienvenido a la gestión de voluntarios</h3>

        <p class="t_sesion">Inicie sesión para continuar</p>
        <button class="t butini mt-3" mat-raised-button (click)="loginWithGoogle()">
           
          Iniciar Sesión con Google+

        </button>


       <!--
        <button class="t butini mt-3" mat-raised-button (click)="registroVoluntarios()">
            <img src="../../../assets/ayuda.png" alt="">
            ¡Inscríbete!

        </button>
        -->
    </div>




</div>