<div class="contenido_login">

    <div class="sub">
        <img src="../../../assets/logito.jpg" alt="" class="is mt-1">



        <button class="t butini mt-3" mat-raised-button (click)="loginWithGoogle()">
            <img src="../../../assets/google.png" alt="">
            Google

        </button>

       

        <button class="t butini mt-3" mat-raised-button (click)="registroVoluntarios()">
            <img src="../../../assets/ayuda.png" alt="">
            ¡Inscríbete!

        </button>





    </div>



</div>