<div class="sidebar">
    <div class="contenido_sidebar">
        <img src="../../../assets/logoCaritas.jpg" class="iconnv" alt="">
        <mat-nav-list class="text-center c mt-1">
            <a routerLink="/profile" mat-list-item>
                <mat-icon mat-list-icon class="cb">home </mat-icon>
                <span class="cb">HOME</span>
            </a>
            <a routerLink="/voluntarios" mat-list-item>
                <mat-icon mat-list-icon class="cb">person</mat-icon>
                <span class="cb">VOLUNTARIOS</span>
            </a>
            <a routerLink="/tareas" mat-list-item>
                <mat-icon mat-list-icon class="cb">feed</mat-icon>
                <span class="cb">TAREAS</span>
            </a>

            <a routerLink="/usuarios" mat-list-item>
                <mat-icon mat-list-icon class="cb">person</mat-icon>
                <span class="cb">USUARIOS</span>
            </a>
            <!--
        <a mat-list-item class="pef">
            <mat-icon mat-list-icon class="cb">person</mat-icon>
            <span class="cb">PERFIL</span>
        </a>-->

        </mat-nav-list>
    </div>
</div>