body{
  background-color:  rgb(10, 10, 104);
}

.caja_lista{
  width: 100%;
  position: absolute;
  margin-left: -116px;
  margin-top: 100px;
}

.caja_navbar{
  position: absolute;
  width: 100%;
  margin-top: -48px;
  margin-left: -11px;
}

img{
  border: 0;
  background-image: none;
}

.sidebar{
  position: absolute;
    height: 100%;
    min-height: 100vh;
    width: 15%;
    margin-left: -136px;
    margin-top: -50px;
    background-color: rgb(10, 10, 104);
}

.busc{
  position: absolute;
  margin-top: -60px;
  margin-left: 600px;
}

 .buto{
   margin-left: -80px;
  border-radius: 14px;
  height: 40px;
  width: 250px;
}
.inputss{
  margin-top: 50px;
  
}
.ca{
  color: blue;
}
.cb{
    color: white;
}
.c{
    color: rgb(0, 0, 0);
}
.cw{
    color: rgb(255, 255, 255);
}

.cr{
  color: #fa0202;
}

.pef{
  margin-top: 230px;
}

.iconn{
    width: 100px;
    height: 100px;
  
}

.iconnv{
  width: 100px;
  height: 100px;
  margin-left: 30px;
  margin-top: 15px;
 background-color: white;
 background-image: none;
}

.ihome{
  background-color: white;
}

hr{
    background-color: rgb(0, 0, 0);
}

header{
  background-color: rgb(255, 255, 255);
  
}

.listado{
 
   width: 600px;
   margin-left: 380px;
   margin-top: -47px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-fluid {
  max-width: 100%;
 border-radius: 0px;
 height: 800px;
 border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.sub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 14, 78);
    border: solid 2px white;
    border-radius: 10px;
    width: 350px;
    height: 400px;
}

.buttt{
    margin-right: 15px;
}

.navbar{
  position: relative;
  background-color: rgb(255, 255, 255);
  list-style: none;
  width: 1357px;
  height: 110px;
  margin-left: -116px;
}
.font_dis{
  font-size: medium;
}
.cm{
  background-color: rgb(22, 22, 126);
}
.isidenav{
  width: 100%;
  height: 561px;
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
}

.fuente{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    
}

.mat-raised-button{
    width: 150px;
    height: 60px;
}
.buti {
  margin-left: 40px;
  width: 220px;
    height: 40px;
}

.im{
    border-radius: 150px;
    width: 90px;
    height: 90px;
}

.imn{
    border-radius: 150px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}
.imodal{
  border-radius: 150px;
  width: 55px;
  height: 55px;
  margin-right: 10px; 
}

.t{
    font-size:large;
    color: red;
}

.tt{
    font-size: x-large;
    margin-left: 550px;
}

.modal{
  margin-left: 420px;
}
.mpreg{
  margin-left: 0px;
  
}

.clabel{
  display: flex;
  flex-direction: column;
  
  
}

.lapiz{
  margin-top: -70px;
  margin-left: -1px;
}
.reg{
  margin-top: -32px;
  margin-left: 210px;
}
.chec{
  color: #2fe45c;
  margin-top: -26px;
  margin-left: 235px;
}
.tar{
  margin-top: -23px;
  margin-left: 280px;
}
.war{
  color: rgb(252, 72, 72);
  margin-top: -23px;
  margin-left: 310px;
}

.modal-header{
  background-color: rgb(75, 75, 231);
}
.contbut{
  display: flex;
  flex-direction: column;
}

/**********/
  .butini{
    width: 150px;
    height: 45px;
  }

  .modal-header .btn-close {
    padding: .5rem .5rem;
    margin: -.5rem -0.5rem 3.8rem auto;
}
  .butinif{
    width: 100px;
    height: 36px;
  }
  
  .bu{
      
      width: 100px;
      height: 40px;
  }

.is{
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.tp{
    font-size:large;
}

.ba{
    color: rgb(255, 255, 255);
    width: 100px;
      height: 40px;
    background-color: rgb(2, 93, 14);
}

.contlist{
   
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 110px;
    
    padding: 30px;
}

.hn{
  width: 90px;
  height: 90px;
}


.contenido_input{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.contenido_select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 50px;

}
.filea_radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select{
  border-radius: 10px;
  margin: 10px;
  height: 48px;
  border: solid 1px black;
  margin-left: -40px;
  width: 210px;
}

.se{
  border-radius: 10px;
  margin: 10px;
  height: 29px;
  border: solid 1px black;
  margin-left: -5px;
  width: 200px;

}


 .sp{
  
  border-radius: 10px;
  margin: 10px;
  height: 29px;
  border: solid 1px black;
  margin-left: -25px;
  width: 150px;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 577px;
    
}


.card{
  width: 550px;
  height: 608px;
  border-radius: 15px;
   margin-top: 30px;
}

/*
.contenido_preg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}*/
.texts{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.button_uno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 66px;
}

.button_dos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 221px;

}

.button_tres{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 54px;

}

.button_cuatro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 58px;

}

.button_cinco{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -18px;

}


@media (min-width: 992px){
.navbar-expand-lg {
    justify-content: space-between;
    
}
}


button{
    margin: 13px;
  }

  .fontvirtual{
      font-size:small;
  }

.contenido_input_calend{
  height: 100px;
  border-radius: 40px;
}


/*FORMULARIO STEP*/

#msform {
 
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#msform fieldset {
  background: rgb(255, 255, 255);
  border: 0 none;
  border-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 515px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0%;
  margin-top: -30px;
  height: 493px;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 18px;
}
#msform .calend{
  border-radius: 30px;
  width: 350px;
}

#msform .cua{
  width: 140px;
  height: 32px;
  margin-top: 0px;
}


#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #8e8aa7;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}
/*buttons*/
#msform .action-button {
  width: 100px;
  background: #af1717;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}
#msform .action-button-previous {
  width: 100px;
  background: #9090ec;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
#msform .action-button-previous:hover, #msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}
/*headings*/
.fs-title {

  font-size: 18px;
  
  color: #000000;
  margin-bottom: 10px;
  
  font-weight: bold;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  height: 115px;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: rgb(0, 0, 0);
  font-size: 13px;
  width: 16.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
  margin-top: 20px;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: rgb(126, 11, 11);
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #bd1717;
  color: rgb(255 255 255);
  text-align: center;
}
#progressbar li.inactive:before{
  background: rgb(241, 219, 185);
  color: #000;
  text-align: center;

}
.tipr{

  margin-left: -110px;
  margin-top: 4px;

}
.tip{
  margin-left: -90px;
  margin-top: 4px;
}
.md-c{
  display: flex;
  flex-direction: row;
  width: 261px;
}
.md-roweapr{
  display: flex;
  flex-direction: row;
 margin-left: -105px;
}

.md-rowea{
  display: flex;
  flex-direction: row;
 margin-left: -85px;
}

.md-check{

   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 99px;

}

.mat-sidenav-container{
  background-color: #0c0044;
}

#sidenav{
  background-color: #0c0044;
}

.bmat{
  background-color:rgb(22, 22, 126);
}


.mat-card{
  background-color: #d6cece;
  margin-top: -10px;
  margin-left: 880px;
  width: 350px;
  height: 600px;
}
.mat-card-header{
  height: 100px;
  background-color: rgb(94, 94, 182);
}

.table{
  background-color: rgb(255, 255, 255);
  width: 1150px;
  margin-left: -309px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}
.tabler{
  width: 500px;
}


.matsiv{
  position: absolute;
    height: 100%;
    min-height: 100vh;
    width: 15%;
    margin-left: -136px;
    margin-top: 62px;
    background-color: rgb(22, 22, 126);
}