html, 
body {
    height: 100%;
    width: 100%;
    background-color:  rgba(12, 40, 104, 1) !important;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}


.caja_lista{
  width: 100%;
  position: absolute;
  margin-left: -116px;
  margin-top: 100px;
}

/************** NAVBAR ******************/

.caja_navbar{
  position: float;
  width: 50%;
  margin-top: -48px;
  margin-left: -11px;
}
/************** FIN NAVBAR ******************/





.busc{
  position: absolute;
  margin-top: -125px;
  margin-left: 183px;
}
.busc_tarea{
   position: absolute;
  margin-top: -120px;
  margin-left: 560px;
}
.busc_usuario{
  margin-top: -117px;
  margin-left: 195px;
}
.busc_v{
  position: absolute;
  margin-top: -50px;
  margin-left: 60px;
}
.buto_v{
  
  margin-left: 900px;
  margin-top: -50px;
 border-radius: 14px;
 height: 40px;
 width: 250px;
}

.color_v{
  color: #0a215f;
}
.color_e{
  color: #42B82F;
}
.color_d{
  color: #B00020;
}
.sg_caja{
  position: absolute;
  margin-left: 520px;
  margin-top: -209px;

}



.buto {
  margin-left: 240px;
  margin-top: 50px;
  border-radius: 14px;
  height: 40px;
  width: 237px;
}
.inputss{
  margin-top: 50px;
  
}

/******COLORES****/
.ca{
  color: #004684;
  font-family: 'Roboto';

font-weight: 900;

/* or 224% */

letter-spacing: -1.5px;
  
}
.redondo{
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  background: #EBEBEB;;
  width: 74px;
  border-radius: 100px;
  height: 44px;
  margin-top: -60px;
}



.redondoo{

  display: flex;
  flex-direction: row;
  margin-left: 275px;
  background: #EBEBEB;;
  width: 74px;
  border-radius: 100px;
  height: 44px;
  margin-top: -44px;

}
.cv{
 color: #2fe45c;
}
.cb{
    color: white;
}
.cl{
  color: #979797;
  font-weight: 400;

}

.cw{
    color: rgb(255, 255, 255);
}

.cr{
  color: #fa0202;
}

.fuente_san{
  font-family: 'Open Sans', sans-serif;
}


.ct{
  position: absolute;
  background-color: #5A71A6;
  color: white;
  margin-top: -60px;
  margin-left: 112px;
  width: 88px;
  height: 36px;
  border-radius: 5px;
  
}
/******FIN COLORES****/

.pef{
  margin-top: 190px;
}

.iconn{
    width: 100px;
    height: 100px;
  
}



.ihome{
  background-color: white;
}

hr{
    background-color: rgb(0, 0, 0);
}

header{
  background-color: rgb(255, 255, 255);
  
}

.listado{
 
   
   width: 600px;
   margin-left: 380px;
   margin-top: -47px;
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.img-fluid {
  max-width: 100%;
 border-radius: 0px;
 height: 800px;
 border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  
}



.buttt{
    margin-right: 15px;
}



.font_dis{
  font-size: medium;
}
.font_modal_header{
  font-size: medium;
}
.color_exp{
  color: #5A71A6;
}
.cm{
  background-color: rgb(22, 22, 126);
}
.isidenav{
  width: 100%;
  height: 561px;
}
.navbar-toggler{
    background-color: rgb(255, 255, 255);
}

.fuente{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    
}

.mat-raised-button{
    width: 150px;
    height: 60px;
}
.buti {
  
  margin-left: 15px;
  width: 400px;
  border-radius: 10px;
    height: 40px;
    background-color: #5A71A6;
    color: rgb(255, 255, 255);
}

.buti_calend{
  margin-left: 15px;
  width: 400px;
}
.buti_eliminar
{
  margin-left: 2px;
  width: 428px;
  background-color: white;
  border-radius: 10px;
  color: #5A71A6;
  border: solid 1px #5A71A6;
  height: 40px;

}

.im{
    border-radius: 150px;
    width: 50px;
    height: 50px;
}

.imn{
    border-radius: 150px;
    width: 55px;
    height: 55px;
    margin-right: 10px;
}


 .caja_tabla{
  background-color:#EFEFF3;
  position: float;
  margin-top: 270px;
  margin-left: 348px;
  height: 200px;
  border-radius: 10px;
  width: 500px;

 
}


.imodal{
  border-radius: 150px;
  width: 75px;
  height: 75px;
  margin-right: 10px; 
  margin-top: 20px;
}

.t{
    font-size:large;
    color: red;
}

.tt{
    font-size: x-large;
    margin-left: 550px;
}

.modal{
  margin-left: 420px;
  
}
.mpreg{
  margin-top: 150px;
}

.m_disponibilidad{
  
  margin-top: 200px;
}
.region{
  background-color: #E7ECFF;;
  display: flex;
 
  flex-direction: column;
  border-radius: 10px;

}

.text_region{
  margin-left: 15px;
  margin-top: 10px;
}

.m_editar{
 position: absolute;
 width: 800px !important;
  margin-left: 350px;
  
  
}

.clabel{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  width: 200px;
  
  
}

.lapiz{
  margin-top: -86px;
  margin-left: -20px;
}
.c_reg{
  color: #5A71A6;;
  
}
.reg{
  
  margin-top: 8px;
  margin-left: 3px;
}
.chec{
  color: #2fe45c;
  margin-top: 8px;
  margin-left: 3px;
}
.tar{
  margin-top: 8px;
  margin-left: 14px;
}
.war{
  color: rgb(252, 72, 72);
  margin-top: 8px;
  margin-left: 5px;
}

.modal-header{
  background-color: #5A71A6;
  height: 150px;
}
.contbut{
  display: flex;
  flex-direction: column;
}

/**********/

.butini{
   position: absolute;
    background-color: #AB1D22;
    color: white;
    width: 250px;
    height: 45px;
    border-radius: 10px !important;
   
    margin-left: 60px !important;
    margin-top: 60px !important;
  }

  .btn-close{
    color: white !important;
  }

  .modal-header .btn-close {
    margin-top: -27px !important;
    color: rgb(255, 255, 255);
    padding: .5rem .5rem;
    margin: -.5rem -0.5rem 3.8rem auto;
}
  .butinif{
    width: 100px;
    height: 36px;
  }
  
  .bu{
      
      width: 100px;
      height: 40px;
  }

.is{
    margin-bottom: 20px;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    margin-left: 25px;
}

.tp{
    font-size:large;
}

.ba{
    color: rgb(255, 255, 255);
    width: 100px;
      height: 40px;
    background-color: rgb(2, 93, 14);
}


.hn{
  width: 90px;
  height: 90px;
}






.cont{
  display: flex;
  flex-direction: column;

  margin-left: 10px;

}

.input_ocupacion{
  width: 600px !important;
}







.filea_radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

select{
  border-radius: 10px;
  margin: 10px;
  height: 48px;
  border: solid 1px black;
  margin-left: 0px;
  width: 183px;
}

.select_disp{
  border-radius: 10px;
  margin: 10px;
  height: 48px;
  border: solid 1px black;
  margin-left: 0px;
  width: 430px;

}

.select_reg{
  border-radius: 10px;
  margin: 10px;
  height: 48px;
  border: solid 1px black;
  margin-left: 10px;
  width: 400px;
}

.se{
  border-radius: 10px;
  margin: 10px;
  height: 29px;
  border: solid 1px black;
  margin-left: -5px;
  width: 200px;

}


 .sp{
  
  border-radius: 10px;
  margin: 10px;
  height: 29px;
  border: solid 1px black;
  margin-left: -25px;
  width: 150px;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 577px;
    
}


.card{
  background-color: #ffffff;
  padding: 55px;
  width: 550px;
  height: 608px;
  border-radius: 15px;
   margin-top: -12px;
}

/*
.contenido_preg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}*/
.texts{
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 20px;
  margin-left: 2px;
}


input .sig{
  background-color: #0c0044;
}






@media (min-width: 992px){
   .navbar-expand-lg {
    justify-content: space-between;
    
   }
}


button{
    margin: 13px;
  }

  .fontvirtual{
      font-size:small;
  }

.contenido_input_calend{
  height: 100px;
  border-radius: 40px;
}


/*FORMULARIO STEP*/

#msform {
 
  margin-top: -12px;
  
  border-radius: 15px;
  
}

#msform fieldset {
  background: rgb(255, 255, 255) ;
  border: 0 none;
  border-radius: 0px;
  
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
 
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0%;
  margin-top: -30px;
  height: 493px;
  /*stacking fieldsets above each other*/
  position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs
#msform input, #msform textarea {
  padding: 15px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 18px;
}*/
#msform .calend{
  border-radius: 30px;
  width: 350px;
}

#msform .cua{
  width: 140px;
  height: 32px;
  margin-top: 0px;
}

/*
#msform input:focus, #msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #000000;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}*/
/*buttons*/

/**/


.contenido_input_edit_exp
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25px;

}


.tipr{

  margin-left: -110px;
  margin-top: 4px;

}
.tip{
  margin-left: -90px;
  margin-top: 4px;
}
.md-c{
  display: flex;
  flex-direction: row;
  width: 261px;
}


.md-rowea{
  display: flex;
  flex-direction: row;
 margin-left: -85px;
}

.md-check{

   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 99px;

}

.mat-sidenav-container{
  background-color: #0c0044;
}

#sidenav{
  background-color: #0c0044;
}

.bmat{
  background-color:rgb(22, 22, 126);
}


.mat-card{
  background-color: #d6cece;
  margin-top: -10px;
  margin-left: 880px;
  width: 350px;
  height: 600px;
}
.mat-card-header{
  height: 100px;
  background-color: rgb(94, 94, 182);
}

.table{
  background-color: rgb(255, 255, 255);
  width: 1150px;
  margin-left: -309px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}
.tabler{
  width: 500px;
}

.tabler_volun{
  width: 100%;
  
}



.matsiv{
  position: absolute;
    height: 100%;
    min-height: 100vh;
    width: 15%;
    margin-left: -136px;
    margin-top: 62px;
    background-color: rgb(22, 22, 126);
}

.cp{
  display: flex;
  flex-direction: row;
 
}

.s{
  position: absolute;
  margin-top: -2px;
  margin-left: 235px;
}


/*Desabilita inputs : IMPORTANTE!!!!!!*/
div.disabled
{
  pointer-events: none;/*REALIZA ACCION NO CLICKEABLE*/
  opacity: 0.5;
  background: #CCC;
}


.sec{
  font-weight: bold;
  
}
.sec:hover{
  cursor: pointer;
}



.busc_profile{
  position: absolute;
  margin-top: -107px;
  margin-left: 700px;
}
.buto_profile{
  margin-left: 200px;
  margin-top: 50px;
 border-radius: 14px;
 height: 40px;
 width: 250px;
}

  img{
    object-fit: conver;
  }

 .s_provincia{
   height: 58px;
    width: 224px;
    margin-left: -39px;
    border-radius: 5px;
  }

  .img_form{
   
    height: 350px;
    margin-top: 20px;
    margin-left: 4px;
    border-radius: 1.5rem;
  }


  *::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    
    font-family: 'Roboto', sans-serif;
    font-size: medium;

}
*:-moz-placeholder {
    /* Firefox anterior a 19 */
  
    font-family: 'Roboto', sans-serif;
}
*::-moz-placeholder {
    /* Firefox 19 y superior */
   
    font-family: 'Roboto', sans-serif;
}
*:-ms-input-placeholder {
    /* Internet Explorer 10 y superior */
   
    font-family: 'Roboto', sans-serif;
}



.ordena_input{
  display: flex;
  flex-direction: row;
}

.vol_caja{

  background-color: white;

 
   height: 800px;
   width: 100% !important;
   margin-left: 110px;
   
}

.tabli{
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-left: 0px !important;
  height: 500px;
  width: 100%;
}

.tar_caja{
  background-color: #249449;
  width: 199%;
  height: 800px;
  background-color: white;
 
  margin-left: -305px
}

.tabli_dos{
  position: absolute;
  width: 1115px !important;
  margin-top: 0px;
  margin-left: -11px !important;
  height: 500px;
}

.sube_sidebar_usuarios{
  
  margin-top: -20px;
}

.buto_b{
  margin-top: 52px;
  height: 37px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: none;
}